In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

c:\Users\SS\AppData\Local\Programs\Python\Python311\Lib\site-packages\scipy\__init__.py:169: UserWarning: A NumPy version >=1.18.5 and <1.26.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = pd.read_excel('../Data/tawjehe2024.xls')

In [3]:
df

,رقم الجلوس,الفرع,المديرية,المدرسة,النتيجه
0,10047300,العلمي,جنين,بنات جنين الثانوية,87.6
1,10047405,العلمي,جنين,بنات جنين الثانوية,65.3
2,10047342,العلمي,جنين,بنات جنين الثانوية,لم يستكمل متطلبات النجاح
3,10047399,العلمي,جنين,بنات جنين الثانوية,71.3
4,10047272,العلمي,جنين,بنات جنين الثانوية,93.6
...,...,...,...,...,...
49046,33098728,العلمي,الادارة العامة للامتحانات,الفنار/ تركيا,غير مستكمل
49047,33098128,العلمي,الادارة العامة للامتحانات,الفنار/ تركيا,80.1
49048,33098733,العلمي,الادارة العامة للامتحانات,القدس/ تركيا,79.1
49049,33098732,العلمي,الادارة العامة للامتحانات,القدس/ تركيا,83.4
49050,33101657,العلمي,الادارة العامة للامتحانات,دراسة خاصة,غير مستكمل

## Get the top 10 students for each branch?

Clean the result by adding a cutogroy to denote the status result i.e. if the it is not numeric then give it a category

Get the top 10 students per governarate?